:root {
  --primary-color: #fff3f5;
  --secondary-colour: #a33c4d;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
  line-height: 125px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 20px;
}

h4{
  font-size:32px
}

p {
  font-weight: 200;
  font-size: 18px;
  color: #828282;
}

nav{
  padding: 15px 0;
}

nav ul {
  padding:0;
  margin:0;
}

nav li {
  display:inline;
  list-style: none;
  line-height: 40px;
  margin-left:15px ;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  color: #828282;
  transition:all 100ms ease-in-out;
}

nav a:hover, 
nav li.active a  {
  color: var(--secondary-colour);
}

footer {
  margin:60px 0;
}

footer .contact-box{
  background-color: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p{
  margin:0;
}

footer .email-link {
  color:black;
  font-size: 20px;
  text-decoration: none;
  transition:all 100ms ease-in-out;
}

footer .email-link:hover {
  color: var(--secondary-colour);
}

footer .social-links a {
margin: 0 20px;
color: var(--secondary-colour);
background-color: var(--primary-color);
padding:10px 16px;
font-size: 22px;
border-radius: 50%;
transition: all 100ms ease-in-out
}

footer .social-links a:hover {
color:white;
background-color: var(--secondary-colour);
}

hr{
  color: var(--secondary-colour);
}

a{
   font-size: 24px;
   color: var(--secondary-colour);
   text-decoration: none;
}

.open_sourced{
  font-size: 18px;
}

.logo {
  max-height: 50px;
}
.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 120px 20px;
}

.hero h2 {
  color: #272142;
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
}
.content-container {
   padding:30px 20px;
}

.content{
   margin: 5px 30px
}
.content h1 {
  font-size: 64px;
}

.content h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: 200;
}

.content h3{
   font-family: var(--default-font-family);
   font-weight: 200;
}

.content p{
   font-size:14px;
   line-height: 18px;
}

.btn-branding {
  background-color: var(--secondary-colour);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--secondary-colour);
  border-color: 1px solid var(--secondary-colour);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.profile-image {
  max-width: 62%;
  margin-top: 85px;
  margin-left: 120px;
}

.about-image{
  max-width: 80%;
  margin-top: 120px;
  margin-left: 60px;
}

.card {
  border: none;
}
.content .work-title {
   font-size: 28px;
   font-family: var(--heading-font-family);
}

.contact-info{
   margin-left: 40px;
  }


@media (max-width: 960px) {
  h1 {
    font-size: 48px;
    line-height: 50px;
  }

  h2 {
    text-align: center;
    font-size: 40px;
  }

  h4{
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  nav{
    padding: 10px 0;
  }

  nav a {
    font-size: 14px;
  }

  footer .contact-box{
    padding: 30px;
  }

  footer .btn {
    font-size: 14px;
    padding: 10px 15px;
  }

  .open_sourced{
    font-size: 14px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container{
   padding:80px 20px;
   text-align: center;
  }
  .content h1{
   padding-bottom: 10px
  }

  .description {
    text-align: center;
  }

  .card {
    text-align: center;
  }
  .card-title {
    font-size: 16px;
  }
.jump-link {
   font-weight: 300;
   text-decoration: none;
   color: var(--secondary-colour);
   font-size: 20px;
  }

  .contact-info{
   margin:0;
  }
  
}
